h1.fb-header {
  font-size: 1.895em;
}

h1.fb-thanks {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

#howto-improve-group {
  margin-top: 1em;
}

.fb-personal-info {
  margin-top: 2em;
  margin-bottom: 2em;
}
